/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  flex-wrap: wrap;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

link {
  text-decoration: none;
}

.hero,
.footer {
  background-color: #2f303a;
  color: #ffffff;
}

.button {
  display: block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196f3;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
}

.header {
  border-bottom: #ececec;
}

.header-box {
  display: flex;
  align-items: center;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .header-box {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header-box {
    width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .header-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.link-header {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .link-header {
    line-height: 1.1666666667;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .link-header {
    line-height: 1.1666666667;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-rigt: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .link-header {
    font-size: 26px;
    line-height: 1.1538461538;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-rigt: 93px;
  }
}

.logo {
  color: #2196f3;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-button {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 480px) {
  .menu-button {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover,
.menu-button:focus {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  font-weight: 500;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 400ms;
  padding: 48px 40px;
}
.menu-container.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
.menu-toggle {
  position: absolute;
  top: 20px;
  right: 25px;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.mobile-social {
  display: flex;
  margin-top: 64px;
}

.link {
  font-size: 40px;
  line-height: 1.175;
  color: rgb(33, 33, 33);
}
.link:hover, .link:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu-tel {
  font-size: 34px;
  line-height: 1.1764705882;
  color: rgb(117, 117, 117);
}
.menu-tel:hover, .menu-tel:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu-mail {
  font-size: 24px;
  line-height: 1.1666666667;
  color: rgb(117, 117, 117);
}
.menu-mail:hover, .menu-mail:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.mobile-social-item {
  font-size: 18px;
  line-height: 1.2222222222;
  padding: 0 10px;
}
.mobile-social-item::after {
  content: "";
  height: 22px;
  display: block;
  fill: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.nav {
  margin-right: auto;
}
.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: block;
  }
}

.current {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 2px;
  border: transparent;
  background-color: #2196f3;
  bottom: -1px;
  display: block;
}

.nav-item {
  position: relative;
  display: block;
}

.nav .link-n {
  display: block;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  align-items: baseline;
  padding: 0;
  padding: 32px 0;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.nav .link-n:hover, .nav .link-n:focus {
  color: #2196f3;
}

.list-contacts {
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .list-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .list-contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .list-contacts {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.link-mail {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 768px) {
  .link-mail {
    display: block;
    width: 768px;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .link-mail {
    width: 1200px;
    font-size: 14px;
    line-height: 1.1428571429;
    padding: 32px 0;
    display: flex;
  }
}

.link-tel {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 768px) {
  .link-tel {
    width: 768px;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .link-tel {
    width: 1200px;
    font-size: 14px;
    line-height: 1.1428571429;
    padding: 32px 0;
    display: flex;
  }
}

.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: #2196f3;
}

.mail-icon,
.tel-icon {
  fill: currentColor;
  display: none;
}
@media screen and (min-width: 768px) {
  .mail-icon,
.tel-icon {
    display: block;
    width: 768px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .mail-icon,
.tel-icon {
    display: block;
    width: 1200px;
    margin-right: 10px;
  }
}

.menu-button {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 480px) {
  .menu-button {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover,
.menu-button:focus {
  fill: #2196f3;
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/m_@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/m_@2x.jpg);
  }
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  width: 360px;
  height: 84px;
  text-align: center;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.3636363636;
    width: 696px;
    height: 120px;
  }
}

.button {
  border-radius: 4px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
}

.section__list {
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 1200px) {
  .section__item :not(:nth-last-child) {
    margin-right: 30px;
  }
}

.section__content {
  max-width: 450px;
  height: 120px;
  border: transparent;
  border-radius: 4px;
  background-color: #f5f4fa;
  gap: 30px;
  align-items: center;
  justify-content: center;
  outline: 1px solid red;
}
@media screen and (min-width: 768px) {
  .section__content {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .section__content {
    width: 270px;
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
  }
}

.section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .section__title {
    text-align: center;
  }
}

.section__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.work {
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  gap: 30px;
  padding: 0;
}

.work__item,
.work__image {
  position: relative;
}

.work__card {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: inline-block;
  bottom: 0;
  left: 0;
}

.work__card-title {
  margin-top: 27px;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section team {
  background-color: #f5f4fa;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 1199px) {
  .container-team {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    gap: 30px;
    padding: 0;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  width: 450px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__text {
  text-align: center;
  padding-top: 30px;
  padding-top: 24px;
}
@media screen and (min-width: 1200px) {
  .team__text {
    padding-bottom: 30px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 10px;
}

.team__subtext {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.list__item {
  display: inline-block;
  margin: 0;
}

.list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.list__link:hover, .list__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.clients {
  justify-content: center;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 480px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.1785714286;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.1785714286;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
  }
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  height: 92px;
  border: 1px solid #afb1b8;
  text-decoration: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-container-f {
  display: block;
}
@media screen and (min-width: 480px) {
  .flex-container-f {
    align-items: center;
    justify-content: center;
    outline: 1px solid red;
  }
}
@media screen and (min-width: 768px) {
  .flex-container-f {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .flex-container-f {
    display: flex;
    align-items: baseline;
  }
}

.footer-list {
  margin-left: 0;
  padding: 0;
}

.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

address {
  font-style: normal;
}

.paragraph {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .paragraph {
    margin-bottom: 9px;
  }
}

.link-footer {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7142857143;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.link-footer:hover, .link-footer:focus {
  color: #2196f3;
}

.social {
  outline: 1px solid red;
}
.social-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social-title {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .social {
    margin-top: 65px;
  }
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .social-list {
    margin-left: 70px;
  }
}

.social-link-f {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.social-link-f:hover, .social-link-f:focus {
  background-color: #2196f3;
}

.flex-container-subscribe {
  margin-left: auto;
  outline: 1px solid red;
}

.subscribe-form {
  display: flex;
}

.mailing {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.subscribe-field {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.subscribe-field:hover, .subscribe-field:focus {
  border-color: white;
}

@media screen and (min-width: 480px) {
  .subscribe-field {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-field {
    width: 358px;
  }
}
.footer-btn {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin: 0;
  padding: 10px 28px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.footer-btn:hover, .footer-btn:focus {
  border-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-btn {
    display: flex;
    margin-left: 12px;
  }
}

.icon-subscribe {
  padding: 0;
  fill: #ffffff;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  cursor: pointer;
  fill: #212121;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.modal-btn:hover, .modal-btn:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.form-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 12px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 23.44px;
  }
}

.form-group {
  margin: 0 auto;
  padding: 0;
  display: block;
}

.label {
  display: block;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin: 0;
  margin-bottom: 4px;
  color: rgb(117, 117, 117);
}

.f-group {
  position: relative;
  margin-bottom: 12px;
}

.field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.field:hover, .field:focus {
  border-color: #2196f3;
}

.field:focus-within + .f-icon {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.f-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 14px;
  left: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.f-icon:hover {
  fill: #2196f3;
}

.t-label {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: -12px;
  border: 1.5px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment:hover, .comment:focus {
  border-color: #2196f3;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-input:checked + .icon-check {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/checked.svg");
}

.check-input:unchecked + .icon-check {
  border-color: transparent;
  background-color: transparent;
  background-image: url("../images/unchecked.svg");
}

.check-label {
  display: flex;
  margin-top: 20px;
}

.icon-check {
  display: flex;
  width: 16px;
  height: 15px;
  margin-left: 10px;
  margin-bottom: -12px;
  background-image: url("../images/unchecked.svg");
}

.check-text {
  margin: 0;
  margin-left: 9px;
  display: flex;
  user-select: none;
}

.form-link {
  display: block;
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.form-link:hover, .form-link:focus {
  color: rgb(33, 150, 243);
}

@media screen and (min-width: 768px) {
  .form-link {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
@media screen and (min-width: 1200px) {
  .form-link {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.btn-form {
  display: block;
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;
  margin-right: auto;
  margin-top: 22px;
  margin-left: auto;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: box-shadow 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.btn-form:hover, .btn-form:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-t {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.header {
  border-bottom: #ececec;
}

.header-box {
  display: flex;
  align-items: center;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .header-box {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header-box {
    width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .header-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.link-header {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .link-header {
    line-height: 1.1666666667;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .link-header {
    line-height: 1.1666666667;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-rigt: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .link-header {
    font-size: 26px;
    line-height: 1.1538461538;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-rigt: 93px;
  }
}

.logo {
  color: #2196f3;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  margin-right: auto;
}
.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: block;
  }
}

.current {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 2px;
  border: transparent;
  background-color: #2196f3;
  bottom: -1px;
  display: block;
}

.nav-item {
  position: relative;
  display: block;
}

.nav .link-n {
  display: block;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  align-items: baseline;
  padding: 0;
  padding: 32px 0;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.nav .link-n:hover, .nav .link-n:focus {
  color: #2196f3;
}

.list-contacts {
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .list-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .list-contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .list-contacts {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.link-mail {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 768px) {
  .link-mail {
    display: block;
    width: 768px;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .link-mail {
    width: 1200px;
    font-size: 14px;
    line-height: 1.1428571429;
    padding: 32px 0;
    display: flex;
  }
}

.link-tel {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 768px) {
  .link-tel {
    width: 768px;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .link-tel {
    width: 1200px;
    font-size: 14px;
    line-height: 1.1428571429;
    padding: 32px 0;
    display: flex;
  }
}

.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: #2196f3;
}

.mail-icon,
.tel-icon {
  fill: currentColor;
  display: none;
}
@media screen and (min-width: 768px) {
  .mail-icon,
.tel-icon {
    display: block;
    width: 768px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .mail-icon,
.tel-icon {
    display: block;
    width: 1200px;
    margin-right: 10px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 46px;
  padding: 0;
  gap: 8px;
}
.buttons.c-buttons:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
  }
}
.c-button {
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.c-button:hover, .c-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-container {
  gap: 30px;
  padding-left: 0;
}

.flex-element {
  width: 100%;
}
.flex-element:nth-child(3n) {
  margin-right: 0px;
}
.flex-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .flex-element {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .flex-element {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.flex-link {
  display: block;
  text-decoration: none;
  color: #757575;
  transition: box-shadow 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.flex-link:hover .overlay-desc, .flex-link:focus .overlay-desc {
  transform: translateY(0);
}
.flex-link:hover, .flex-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.flex-item {
  margin: 0;
}

.overlay-desc {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 768px) {
  .overlay-desc {
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay-desc {
    padding: 63px 24px;
  }
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.description {
  border: 1px solid #ECECEC;
  border-top: none;
  padding: 20px 24px;
}
@media screen and (min-width: 768px) {
  .description {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 56px;
  }
}

.pr-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.subtext {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
}

.footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-container-f {
  display: block;
}
@media screen and (min-width: 480px) {
  .flex-container-f {
    align-items: center;
    justify-content: center;
    outline: 1px solid red;
  }
}
@media screen and (min-width: 768px) {
  .flex-container-f {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .flex-container-f {
    display: flex;
    align-items: baseline;
  }
}

.footer-list {
  margin-left: 0;
  padding: 0;
}

.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

address {
  font-style: normal;
}

.paragraph {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .paragraph {
    margin-bottom: 9px;
  }
}

.link-footer {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7142857143;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.link-footer:hover, .link-footer:focus {
  color: #2196f3;
}

.social {
  outline: 1px solid red;
}
.social-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social-title {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .social {
    margin-top: 65px;
  }
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .social-list {
    margin-left: 70px;
  }
}

.social-link-f {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.social-link-f:hover, .social-link-f:focus {
  background-color: #2196f3;
}

.flex-container-subscribe {
  margin-left: auto;
  outline: 1px solid red;
}

.subscribe-form {
  display: flex;
}

.mailing {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.subscribe-field {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.subscribe-field:hover, .subscribe-field:focus {
  border-color: white;
}

@media screen and (min-width: 480px) {
  .subscribe-field {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-field {
    width: 358px;
  }
}
.footer-btn {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin: 0;
  padding: 10px 28px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.footer-btn:hover, .footer-btn:focus {
  border-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-btn {
    display: flex;
    margin-left: 12px;
  }
}

.icon-subscribe {
  padding: 0;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */