.buttons {
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 40px;
    padding: 0;
     gap: 8px;
     max-width: 450px;

    @media screen and(min-width: 768px) {
        margin-bottom: 36px;
        justify-content: center;
        flex-wrap: nowrap;
    }

        @media screen and(min-width: 1200px) {
            margin-bottom: 50px;
            justify-content: center;
        }
    
}




.c-button {
    background-color: $add-background-color;
    color: $header-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    border: 1px solid transparent;

    transition: $animation;

    

}


.c-button:hover,
.c-button:focus {
    box-shadow: $box-shadow;
    background-color: $accent-color;
        color: $text-color;
    }



