.check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-input:checked + .icon-check {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url('../images/checked.svg');
}

.check-input:unchecked + .icon-check {
    border-color: transparent;
    background-color: transparent;
    background-image: url('../images/unchecked.svg');
}

.check-label {
    display: flex;
    margin-top: 0px;
    justify-content: center;
}


.icon-check {
    display: flex;
    width: 16px;
    height: 15px;
    margin-left: 0px;
    margin-bottom: -12px;
    background-image: url('../images/unchecked.svg');
}

.check-text {
    margin: 0;
    margin-left: 9px;
    display: flex;
    font-size: 8px;
    user-select: none;



    @media screen and(min-width: 400px){
        font-size: 10px;

    }

        @media screen and(min-width: 480px) {
            font-size: 12px;
    
        }

                 @media screen and(min-width: 1200px) {
                     font-size: 14px;
                 }
}

.form-link {
    display: block;
    margin-left: 4px;
    font-weight: 400;
    font-size: 8px;
    line-height: calc(12/8);
    letter-spacing: 0.03em;
    text-decoration: underline;
    
    color: $accent-color;

    transition: color $animation;

    @media screen and(min-width: 400px) {
        font-size: 12px;
    }

         @media screen and(min-width: 1200px) {
             font-size: 14px;
         }

    

    &:hover,
    &:focus {
    color: rgba(33, 150, 243, 1);
    }
}




