.section {
  &__list {
        
        display: flex;
        gap: 30px;
    }
}

.section__item :not(:nth-last-child) {
    margin-right: 30px;
}

.section__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border: transparent;
    border-radius: 4px;
    background-color: $add-background-color;
    margin-bottom: 30px;

}

.section__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $header-color;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

.section__text {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;

}