
.section__list {        
     
   gap: 30px;

    @media screen and(min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.section__item {
   width: 100vw; 
   height: 120px;   
    outline: 1px solid red;
}

.section__item:not(:nth-last-child) {
      margin-bottom: 30px;
    }

.section__item :not(:nth-last-child) {
     
    @media screen and(min-width:1200px) {
        margin-right: 30px;
    }
}

@media screen and(min-width: 480px) {
    .section__item {
        max-width: 450px;
    }
}

@media screen and(min-width: 768px) {
    .section__item {
        width: 354px;
    }
}

@media screen and(min-width: 1200px){
    .section__item {
        width: 270px;
    }
}

.section__content { 
    padding: 25px;
    margin-bottom: 30px;
    border: transparent;
    border-radius: 4px;
    background-color: $add-background-color;
    gap: 30px;
    align-items: center;
    justify-content: center;   
    
}
   
        
    

    @media screen and(min-width: 768px) { 
        .section__content {
         width: 354px;
         flex-basis: calc((100% - 30px) / 2);
        }
    }
            

        @media screen and(min-width: 1200px) {
            .section__content {
            width: 270px;
                display: flex;
                flex-basis: calc((100% - 90px) / 4);
            }    
        }

    


.section__icon {
    display: block;
        margin-left: auto;
        margin-right: auto;
}

.section__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: $header-color;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;

    @media screen and(max-width: 768px) {
        text-align: center;
    }

         @media screen and(min-width: 768px) {
             text-align: left;
         }
}


.section__text {
    font-size: 14px;      
    line-height: calc(24/14);
    letter-spacing: 0.03em;
     margin-top: 10px;
    margin-bottom: 30px;
}