.section {
  &__list {
        
        display: flex;
        gap: 30px;
    }
}

.section__item :not(:nth-last-child) {
     
    @media screen and(min-width:1200px) {
        margin-right: 30px;
    }
}

.section__content {
    width: 100%;
    height: 120px;
    border: transparent;
    border-radius: 4px;
    background-color: $add-background-color;
    gap: 30px;
    align-items: center;
    justify-content: center;


    @media screen and(min-width: 768px) {   
            flex-basis: calc((100% - 30px) / 2);
            

        @media screen and(min-width: 1200px){
            display: flex;
            flex-basis: calc((100% - 90px) / 4);       
        }

}

.section__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $header-color;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}


.section__text {
    font-size: 14px;      
    line-height: calc(24/14);
    letter-spacing: 0.03em;
     margin-top: 0;
    margin-bottom: 0;
}