.footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.flex-container-f {
    display: block;
    @media screen and(min-width: 480px) {
        align-items: center;
        justify-content: center;
        outline: 1px solid red;
    }

    @media screen and(min-width: 768px) {
        display: flex;
    }

    @media screen and(min-width: 1200px) {
        display: flex;
            align-items: baseline;
    }
   
}

.footer-list {
    margin-left: 0;
    padding: 0;
}

.footer-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.03em;
    color: $text-color;
    text-decoration: none;
    margin-bottom: 20px;

    transition: color $animation;   
}

address {
    font-style: normal;
   
}

.paragraph {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;

    @media screen and(min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.link-footer {
    display: block;
    color: $add-color;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(24/14);

    transition: color $animation;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}



