.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    & .container {
        @media screen and(min-width: 768px) {
            //   justify-content: space-around;
        }

        @media screen and(min-width: 1200px) {
            display: flex;
        }
    }
}

.flex-container-f {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    @media screen and(min-width: 768px) {
        flex-direction: row;
           justify-content: space-around;
         
    }

    @media screen and(min-width: 1200px) {
            padding-left: 15px;
            padding-right: 15px;
            max-width: 1200px;
            flex-wrap: nowrap;
             align-items: baseline;
    }
   
}


.footer-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
    color: $text-color;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    transition: color $animation;

    @media screen and(min-width: 1200px) {
        font-size: 26px;
        line-height: calc(30 / 26);
    }
}


.footer-contacts {
    text-align: center;
    margin-bottom: 60px;
    

    @media screen and(min-width: 768px) {
        margin-bottom: 0;
        margin-right: 120px;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
        margin-bottom: 0;
        margin-right: 70px;
    }
}




address {
    font-style: normal;
   
}

.footer-list {
    margin-left: 0;
    padding: 0;
}

.paragraph {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;

    @media screen and(min-width: 1200px) {
        margin-bottom: 9px;
    }
}

.link-footer {
    display: block;
    color: $add-color;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(24 / 14);
    transition: color $animation;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer-wrapper {
    @media screen and(min-width: 768px) {
        display: flex;
        align-items: baseline;
          justify-content: space-around;
        margin-bottom: 60px;
    }

    @media screen and(min-width: 1200px) {
        margin-bottom: 0;
    }
}



