.menu-button {
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;

    transition: fill $animation;

    @media screen and(max-width: 480px) {
       display: block;
    }

    @media screen and(min-width: 768px) {
        display: none;
    }

        @media screen and(min-width: 1200px) {
            display: none;
        }
       
}

.menu-button:hover,
.menu-button:focus {
    fill: $accent-color;
}