.js-menu-container {
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    background-color: $main-background-color;
    transform: translateX(100%);
    transition: transform 400ms;
    padding: 48px 40px;

    &.is-open {
        transform: translateX(0);
    }
}

@media screen and(min-width: 768px) {
    .js-menu-container {
        display: none;
    }
}



.menu-toggle {
    position: absolute;
    top: 20px;
    right: 25px;
    border: none;
    background-color: transparent;

    transition: color $animation;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.mobile-menu-items {
    display: flex;
    font-size: 40px;
    line-height: calc(47/40);
    margin-bottom: 150px;
    margin-top: 0;

}

.mobile-item {
    margin-bottom: 32px;
}

.menu-link {
    display: block;
    color: rgba(33, 33, 33, 1);
    cursor: pointer;
    
     
    transition: color $animation;
    
        &:hover,
        &:focus {
            color: $accent-color;
        }
}
    


.m-contacts {
    display: flex;
    margin-bottom: 64px;
    
}

.menu-tel {
    font-size: 34px;
    line-height: calc(40/34);
    color: rgba(117, 117, 117, 1);

     transition: color $animation;

     &:hover,
     &:focus {
        color: $accent-color;
     }
}

.memu-mail {
    font-size: 24px;
    line-height: calc(28/24);
    color: rgba(117, 117, 117, 1);
    

    transition: color $animation;
    
        &:hover,
        &:focus {
            color: $accent-color;
        }

}

.m-social {  
    font-size: 16px;
    line-height: calc(22/16);
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.mobile-social-list {
    display: flex;
    align-content: flex-end;
   
}

.mobile-social-item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33,0.2);
    
  }

  &:not(first-child) {
    padding: 0 10px;
  }
}

.m-link {
    color: rgba(117, 117, 117, 1);
   
}


