.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    font-weight: 500;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    background-color: $main-background-color;
    transform: translateX(100%);
    transition: transform 400ms;
    padding: 48px 40px;

    &.is-open {
        transform: translateX(0);
    }
}

@media screen and(min-width: 768px) {
    .menu-container {
        display: none;
    }
}

.menu-toggle {
    position: absolute;
    top: 20px;
    right: 25px;

    &:hover,
        &:focus {
            color: $accent-color;
    
            transition: color $animation;
        }
}

.mobile-social {
    display: flex;
    margin-top: 64px;
}

.link {
   
    font-size: 40px;
    line-height: calc(47/40);
    color: rgba(33, 33, 33, 1);

    &:hover,
    &:focus {
        color: $accent-color;

        transition: color $animation;
    }

}

.menu-tel {
    font-size: 34px;
    line-height: calc(40/34);
    color: rgba(117, 117, 117, 1);

&:hover,
&:focus {
        color: $accent-color;

        transition: color $animation;
    }

}

.menu-mail {
        font-size: 24px;
        line-height: calc(28/24);
        color: rgba(117, 117, 117, 1);

    &:hover,
    &:focus {
         color: $accent-color;
    
         transition: color $animation;
     }
}

.mobile-social-item {
    font-size: 18px;
    line-height: calc(22/18);
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);



}


