.social {     
    outline: 1px solid red;
    text-align: center;
    padding: 0;

    @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        
    }

        @media screen and (min-width: 1200px) {   
                text-align: left;
            
        }
}
   .social-title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    @media screen and(min-width: 1200px) {
                margin-left: 40px;
            
    }
    
}







.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;

    @media screen and(min-width: 1200px) {
       margin-left: 70px;
    }
}

.social-link-f {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    fill: $text-color;

    transition: background-color $animation;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }

}