.work {
    padding-top: 0;
    padding-bottom: 94px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: $header-color;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 50px;
}

.work__list {
    display: flex;
    gap: 30px;
    padding: 0;
}

.work__item,
.work__image {
    position: relative;
}

.work__card {
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: inline-block;
    bottom: 0;
    left: 0;
}

.work__card-title {
    margin-top: 27px;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color;
}



