$main-text-color: #757575;
$header-color: #212121;
$accent-color: #2196f3;
$text-color: #ffffff;
$add-color: rgba(255, 255, 255, 0.6);

$main-background-color: #ffffff;
$section-background-color: #2f303a;
$add-background-color: #f5f4fa;
$border: #ececec;
$box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

 