$main-color-dark: rgba(1, 56, 58, 1);
$main-color-light: rgba(134, 229, 67, 1);
$pale-text-color: rgba(141, 146, 137, 1);
$bright-text-colorL: rgba(255, 255, 255, 1);
$add-background-color: #01383A;

$box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
0px 4px 50px rgba(94, 236, 54, 0.5),
0px 4px 4px rgba(17, 168, 26, 0.2);





